/*My external style sheet*/
body {
    margin-top: auto;
    /*Changes background color of website*/
    background: white;
    /*Changes text color of website*/
    color: black;
    /*Gives website some room on the sides*/
    Padding: 30px;
    /*Changes font of website*/
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 5em;
    border-bottom: 5px solid green;
}

/*The h1 id tag*/
#Home{
    color: green;
}

/*picture*/
#scary{
    width: 350px;

    /*You need to have a border-width and border-style before using border-image.*/
    border-width: 1px;
    border-style: dashed;
    border-color: blueviolet;
}
